<table class = "table">
          <tbody>
            <% comments.each do |comment| %>
             <tr>
             <td>
                <h3><%= comment.title %></h3>

                <div id="star-rate<%= comment.id %>"></div>
                <div class = "hashtag-circle">
                <div><%= render_with_hashtags(comment.comment) %></div>
                </div>
                <div><%= attachment_image_tag comment, :image, size: "100x100", format: 'jpeg'  %></div>
                <% if user_signed_in? %>
                <div><%= link_to comment.user.nickname, user_path(comment.user.id), class: "userlink" %><%= t('.hascommented') %></div>
                <% else %>
                <div><%= comment.user.nickname %><%= t('.hascommented') %></div>
                <% end %>
                <div><%= comment.user.country_name %></div>
                <div><%= t('.postedon') %><%= comment.created_at.strftime('%Y/%m/%d') %></div>
                <script>
                      $('#star-rate<%= comment.id %>').raty({
                        size      : 25,
                        starOff   : '<%= asset_path('star-off.png') %>',
                        starOn    : '<%= asset_path('star-on.png') %>',
                        starHalf:  '<%= asset_path('star-half.png') %>',
                        readOnly: true,
                        score: <%= comment.star %>,
                      });
                    </script>
                    <% if user_signed_in? %>
                    <% if comment.user_id == current_user.id %>
                    <%= link_to t('.delete'), map_comment_path(comment.map_id, comment.id), method: :delete, data: {confirm: t('.areyousure')} %>
                    <% end %>
                    <% end %>
                  </td>
               </tr>
              <% end %><br>
             </tbody>
            </table>

            <%= paginate comments %>