<% if user_signed_in? %>
<%= form_with model: [map,comment], local:true do |f| %>
  <div class="form-group">
    <%= f.label :title, class:"control-label" %></br>
    <%= f.text_field :title %>
    <% if @comment.errors.include?(:title) %>
     <p style="color: red;"><%= @comment.errors.full_messages_for(:title).first %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :comment, class:"control-label"  %></br>
    <%= f.text_area :comment %>
    <% if @comment.errors.include?(:comment) %>
     <p style="color: red;"><%= @comment.errors.full_messages_for(:comment).first %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <div class="image_wrapper">
    <div class="item_image_btn">
    <%= f.attachment_field :image, id: "file" %>
    </div>
      <div id="img_field" onClick="$('#file').click()", class: "btn btn-primary">
    <div><%= t('.selectimage') %></div>
     </div>
    </div>
  </div></br>

  <img id="preview" style="width:40%;">

<script>
  $('#file').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>

  <div class="form-group" id="star">
    <%= f.label :star, class:"control-label" %></br>
    <%= f.hidden_field :star, id: :review_star %>
    <% if @comment.errors.include?(:star) %>
     <p style="color: red;"><%= @comment.errors.full_messages_for(:star).first %>
    <% end %>
  </div></br>
  <div class="form-group">
  <%= f.submit t('.submitcomment') %>
  </div>
  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'comment[star]',
    half: false,
  });
  </script>
  <% end %>
   <% else %>
  <div><%= t('.commentonlymember') %></div>
  <% end %>