<% if user_signed_in? %>
<%= form_with model: [map,comment], local:true do |f| %>
  <div class="field row">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <% if @comment.errors.include?(:title) %>
     <p style="color: red;"><%= @comment.errors.full_messages_for(:title).first %>
    <% end %>
  </div>
  <div class="field row">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <% if @comment.errors.include?(:comment) %>
     <p style="color: red;"><%= @comment.errors.full_messages_for(:comment).first %>
    <% end %>
  </div>
  <div class="field row">
    <!--<div class="image_wrapper">-->

        <%= f.label :image %>
        <!--<div class="item_image_btn">-->
        <%= f.attachment_field :image %>
        <!--, id: "file"-->
    <!--  </div>-->
    <!--  <div id="img_field" onClick="$('#file').click()", class: "btn btn-primary"  >-->
    <!--<p>画像選択</p>-->
    <!-- </div>-->
    <!--</div>-->
  </div></br>
  <div class="field row" id="star">
    <%= f.label :star, class:'col-md-3 col-form-label' %></br>
    <%= f.hidden_field :star, id: :review_star %>
    <% if @comment.errors.include?(:star) %>
     <p style="color: red;"><%= @comment.errors.full_messages_for(:star).first %>
    <% end %>
  </div></br>
  <%= f.submit t('.submitcomment') %>
  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'comment[star]',
    half: false,
  });
  </script>
  <% end %>
   <% else %>
  <div><%= t('.commentonlymember') %></div>
  <% end %>