<h1>詳細画面</h1>
<td><%= link_to "口コミマップに戻る", maps_path %></td>

<h1><%= @map.spotname %></h1>
<div><%#= @map.avg_score_percentage %></div>
<div><%#= @map.avg_score %></div>
<div class="average-star-rate<%= @avarage_star %>"></div>
<div><%= @average_star %>点</div>
<div><%#= @comment.star.count %>件の評価</div>
<script>
  $('.average-star-rate<%= @avarage_star %>').raty({
    size      : 25,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    readOnly: true,
    score: <%= @average_star %>,
  });
</script>


   <% if user_signed_in? %>
   <div id="like_<%= @map.id %>">
     <%= render "maps/favorite", map: @map %>
	</div>
	  <% else %>
	  <%= link_to "", new_user_session_path, class: "fa fa-heart-o" %>
  <% end %>

	<h5>スポットの編集</h5>
<td><%= link_to "編集", edit_map_path(@map) %></td>
<td><%= link_to "削除", map_path(@map), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %></td>


<% @map.comments.each do |comment| %>

<div><%= comment.title %></div>
 <p>評価 :<%= comment.star %>点</p>
 <div id="star-rate<%= comment.id %>"></div>
<div><%= comment.comment %></div>
<div><%= attachment_image_tag(comment, :image, :fill, 100, 100 ) %></div>
<div><%= link_to @user.nickname, user_path(@user.id) %>さんが投稿しました。</div>
<div><%= comment.created_at %></div>
<script>
      $('#star-rate<%= comment.id %>').raty({
        size      : 25,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        score: <%= comment.star %>,
      });
    </script>
    <td><%= link_to "削除", map_comments_path(comment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %></td>


<% end %>




<h4>新規口コミ投稿</h4>
<%#= render 'maps/post', map: @map_new %>
<% if user_signed_in? %>
<%= form_with model: [@map,@comment], local:true do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>
  <%= f.label :comment, "コメント" %>
  <%= f.text_area :comment %>
  <%= f.label :image, "写真(なくても投稿できます）" %>
  <%= f.attachment_field :image %>
  <div class="form-group row" id="star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
  </div>
  <%= f.submit "送信" %>
  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'comment[star]',
    half: false,
  });
  </script>
  <% end %>
   <% else %>
  <div>口コミ投稿は会員の方のみができます</div>
  <% end %>

