<div class="container-fluid">
  <div class="row justify-content-start">

    <div class='col-lg-7'>


<h1><%= t('.welcome') %></h1>

<h3><%= t('.mostliked') %></h3>
<% @all_ranks.each do |map| %>
<%# byebug %>
<div><%= link_to map.spotname, map_path(map.id) %></div>
  <i class="fa fa-heart"></i>
    <%= map.favorites.count %>
<% if map.comments.present? %>
<div id="average-star-rating<%= map.id %>"></div>
<script>
  $('#average-star-rating<%= map.id %>').raty({
    size      : 25,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf:  '<%= asset_path('star-half.png') %>',
    readOnly: true,
    score: <%= map.comments.average(:star) %>,
  });
</script>
 <% else%>
  <p>まだ口コミはありません</p>
  <% end %>

<div class="imagesize">

   <% if map.comments.select{|comment| comment.image.present?}.count == 0 %>
    <p>写真はまだありません</p>
   <% else %>
   <div class="slider">
    <% map.comments.select{|comment| comment.image.present?}.each do |comment| %>
     <%= attachment_image_tag comment, :image, :fill, 100, 100, format: 'jpeg' %>
    <% end %>
    </div>
   <% end %>
</div>
<% end %>
<%= link_to "国", country_maps_path %>

</div>



 <div class='col-lg-5'>


<%= render 'maps/map', maps: @maps, map: @map %>


</div>
</div>
</div>