<h3><%= t('.edittitle') %></h3>

<%= form_with model:@user, local: true do |f| %>

	<!-- エラーメッセージ表示-->
<%= render 'layouts/error_messages', model: f.object %>

	<div class="field">
	<%= f.label :name %>
		<%= f.text_field :name, class: "name" %>
		<% if f.object.errors.include?(:name) %>
     <p style="color: red;"><%= f.object.errors.full_messages_for(:name).first %>
     ("#{t('.name')}")
    <% end %>
	</div>

	<div class="field">
		<%= t('.image') %>
		<%= f.attachment_field :profile_image %>
	</div>

	<div class="field">
		<%= t('.username') %>
		<%= f.text_field :nickname, class: "name" %>
			<% if f.object.errors.include?(:nickname) %>
     <p style="color: red;"><%= f.object.errors.full_messages_for(:nickname).first %>
    <% end %>
	</div>

	<div class="field">
		<%= t('.country') %>
		<%= f.country_select :country, selected: "JP", format: :with_alpha2 %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>