<h3>マイページ</h3>

<table class="table">
	<tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th><%= t('.username') %></th>
		<th><%= @user.nickname %></th>
	</tr>

	<tr>
		<th><%= t('.country') %></th>
		<th><%= @user.country_name %></th>
  </tr>

</table>

<%= link_to "マイページ編集", edit_user_path(@user.id) %>
<%#= link_to "投稿一覧", edit_user_path(@user.id) %>
<%= link_to "いいねしたスポット一覧", favorites_path %>

<h3>いいねしたスポット一覧</h3>
<% @favorite_list.each do |map| %>
<%= link_to map.spotname, map_path(map.id) %>
<% end %>