<h3>マイページ</h3>

<table class="table">
	<tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

 	<tr>
		<th>名前</th>
		<th><%= @user.name %></th>
	</tr>

	<tr>
		<th>ユーザーネーム</th>
		<th><%= @user.nickname %></th>
	</tr>

	<tr>
		<th>国</th>
		<th><%= @user.country %></th>
  </tr>

</table>

<%= link_to "マイページ編集", edit_user_path(@user.id) %>
<%#= link_to "投稿一覧", edit_user_path(@user.id) %>
<%= link_to "いいねしたスポット一覧", favorites_path %>

<h3>いいねしたスポット一覧</h3>
<% @favorite_list.each do |map| %>
<%= link_to map.spotname, map_path(map.id) %>
<% end %>